.navbar {
  display: flex;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 600;
  align-items: center;
  height: 70px;
  gap: 5rem;
}

.logo {
  img {
    width: 200px;

    object-fit: cover;
  }
}
.navigation {
  display: flex;
  list-style: none;
  gap: 3rem;
  a {
    text-decoration: none;
    color: inherit;
  }
}
